<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/3.jpg')">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clero</h1>
                        <hr class="small">
                        <span class="subheading">
                            Easiest way to get paid for old phones you don't use.
                            <br />
                            <br />
                            Get <i class="fa fa-inr"></i> 2,000 in cash
                            <br />
                            <br />
                            <br />
                            <a href="#contact" class="btn btn-lg btn-success"> &nbsp;Sell my phone!&nbsp; </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How does it work?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <img src="assets/book.png" class="fa fa-circle fa-stack-2x">
                                </span>
                                <h4>
                                    <strong>Book</strong>
                                </h4>
                                <p>You're added in the queue and you'll get a call back</p>
                                <a href="#about" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <img src="assets/deliver.png" class="fa fa-circle fa-stack-2x">
                            </span>
                                <h4>
                                    <strong>Pickup at a convenient time</strong>
                                </h4>
                                <p>Our trusted partner comes to a location of your convenience for pickup</p>
                                <a href="#about" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <img src="assets/rupee1.png" class="fa fa-circle fa-stack-2x">
                            </span>
                                <h4>
                                    <strong>Get cash instantly</strong>
                                </h4>
                                <p>You get paid in cash, upto <i class="fa fa-inr"></i>2000! Because well, nothing beats cash :)</p>
                                <a href="#about" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="random" class="services bg-primary">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </section>

    <section id="contact" class="services bg-primary bg-blue">
        <br/>
        <br/>
        <br/>
        <br/>
    <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2 class="text-center"><img src="assets/green-tick.png" height="23px">&nbsp;&nbsp;Request a pick up</h2>
                        <h3 class="text-center" style="font-size:120%">We will take your phone <strong>without any questions</strong>, as long as it is functional.</h3>
                        <br />
                        <form data-toggle="validator" role="form" action="/entry" method="post">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input name="entry[email]" type="text" class="col-md-12 form-control" id="inputEmail" placeholder="Email">
                                    <div class="email help-block with-errors"></div>
                                </div>
                                <div class="col-md-6">
                                    <input name="entry[mobile]" type="text" class="col-md-12 form-control" id="inputMobile" placeholder="Mobile">
                                    <div class="mobile help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLocation">Location</label>
                                <select name="entry[location]" class="form-control">
                                    <option value="Koramangla">Koramangla</option>
                                    <option value="Indiranagar">Indiranagar</option>
                                    <option value="Bellandur">Bellandur</option>
                                    <option value="HSR Layout">HSR Layout</option>
                                    <option value="Domlur">Domlur</option>
                                    <option value="AKR Tech Park">AKR Tech Park</option>
                                    <option value="Sarjapur Road">Sarjapur Road</option>
                                    <option value="MG Road">MG Road</option>
                                    <option value="Whitefield">Whitefield</option>
                                    <option value="Old airport Rd - Kodihalli">Old airport Rd - Kodihalli</option>
                                    <option value="ITPL - Brookefield">ITPL - Brookefield</option>
                                    <option value="Bannerghatta Road">Bannerghatta Road</option>
                                    <option value="Rest of Bangalore">Rest of Bangalore</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputBrand">Mobile Brand</label>
                                    <select name="entry[brand]" class="form-control">
                                        <option value="Sony">Sony</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="Apple">Apple</option>
                                        <option value="Nokia">Nokia</option>
                                        <option value="LG">LG</option>
                                        <option value="Micromax">Micromax</option>
                                        <option value="HTC">HTC</option>
                                        <option value="Blackberry">Blackberry</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="type">Type</label>
                                    <select name="entry[type_of]" class="form-control">
                                        <option value="iOS - INR 2000">iOS - INR 2000</option>
                                        <option value="Android/Windows - INR 1500">Android/Windows - INR 1500</option>
                                        <option value="Others - INR 400">Others - INR 400</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </section>
   

    <section id="random" class="services bg-primary">
        <br/>
        <br/>
        <br/>
        <br/>
    </section>


 <section id="about" class="services bg-primary bg-blue">

   
    <!-- Main Content -->
        <div class="container">

                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row text-center">
                        <h2>About</h2>
                        </div>
                        <br>
                        <div class="">
                            <p style="font-size:20px;color:#646464">
                                Clero is the easiest way to give away your old phone in exchange for instant hard cash! 
                            </p>
                            <br />
                             <p style="font-size:20px;color:#646464">
                                You bypass all the hassles of selling an old phone - posting photos, filling tedious forms, bargaining, etc. And we pick up the phone from you!
                            </p>
                            <br />
                            <p style="font-size:20px;color:#646464">
                            We ensure complete transparency with a flat rate that applies to your phone. All you have to do is Book a Pick Up and our trusted Pick Up Partner will pick it up and hand over the cash! 
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </section>

