<h1>"   "</h1>
<p style="text-align: center; font-size: 72px; line-height: 120px;"><b><font color="#333333">THANK YOU!</font></b></p>

<p style="text-align: center;"><img src="http://dfsm9194vna0o.cloudfront.net/420694-0-tickgreen.png" style="height: 148px; width: 112px; margin-top: 0px;" alt="" align="center"></p>
<p style="text-align: center; font-size: 18px; line-height: 29px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><font color="#333333">Your request has been recorded. <strong>Rishabh</strong> from our team will reach out to you :) &nbsp;</font></p>
<p style="text-align: center; font-size: 18px; line-height: 29px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><font color="#333333">Please tell your friends and colleagues about Clero! You can contact us at <strong>9869 156 273</strong> for any query.</font></p>	
<br>
<br>
<div class="page-element widget-container page-element-type-text widget-text " id="element-2">
	<div class="contents" style="color: #000000;"><p style="text-align: center; font-size: 18px; line-height: 25px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><u><font color="#49a1ce"><a href="/home" type="url" id="link-xqquziag0gtu766r" class="url-link" target="_blank">Get back to our homepage</a></font></u></p></div>
</div>
