<h1>"   "</h1>
<p style="text-align: center; font-size: 72px; line-height: 120px;"><b><font color="#ccc">THANK YOU!</font></b></p>

<p style="text-align: center;"><img src="http://dfsm9194vna0o.cloudfront.net/420694-0-tickgreen.png" style="height: 148px; width: 112px; margin-top: 0px;" alt="" align="center"></p>
<p style="text-align: center; font-size: 18px; line-height: 29px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><font color="#fff">Your request has been recorded. <strong>Rishabh</strong> from our operations team will reach out to you shortly. &nbsp;</font></p>
<p style="text-align: center; font-size: 18px; line-height: 29px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><font color="#fff">Please tell your peers about <strong>BabaTrucks!</strong></font></p>	
<br>
<br>
<div class="page-element widget-container page-element-type-text widget-text " id="element-2">
	<div class="contents" style="color: #000000;"><p style="text-align: center; font-size: 18px; line-height: 25px;" draggable="false" ondragstart="return false" ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondragover="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();" ondrop="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"><u><font color="#49a1ce"><a  class="btn btn-link-1" href="/home">Book another truck > </a></font></u></p></div>
</div>
